@page "/"

<h1>Books!</h1>

Welcome to the IFSP bookstore

<center>
    <img src="https://img.freepik.com/vetores-gratis/pilha-de-livros-de-design-plano-desenhado-a-mao_23-2149334862.jpg?w=2000" height="250" width="350" />
</center>